--
-- PostgreSQL database dump
--

\restrict wy1XXz9ZDHrJBdEmdvbjWqxic9drbV8SrvIL8p6K31QCAQmAdgfUnsqD5kuO5rh

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: api_adminnotification; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.api_adminnotification (
    id bigint NOT NULL,
    message text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    exhibition_id bigint
);


ALTER TABLE public.api_adminnotification OWNER TO martin;

--
-- Name: api_adminnotification_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.api_adminnotification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_adminnotification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_exhibition; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.api_exhibition (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    number_of_positions integer NOT NULL,
    start_date timestamp with time zone NOT NULL,
    end_date timestamp with time zone NOT NULL,
    rules text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.api_exhibition OWNER TO martin;

--
-- Name: api_exhibition_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.api_exhibition ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_exhibition_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_guard; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.api_guard (
    id bigint NOT NULL,
    priority_number numeric(5,2),
    availability integer,
    user_id bigint NOT NULL
);


ALTER TABLE public.api_guard OWNER TO martin;

--
-- Name: api_guard_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.api_guard ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_guard_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_guardavailablepositions; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.api_guardavailablepositions (
    id bigint NOT NULL,
    score numeric(5,2),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    guard_id bigint NOT NULL,
    position_id bigint NOT NULL
);


ALTER TABLE public.api_guardavailablepositions OWNER TO martin;

--
-- Name: api_guardavailablepositions_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.api_guardavailablepositions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_guardavailablepositions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_guardexhibitionpreference; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.api_guardexhibitionpreference (
    id bigint NOT NULL,
    ordinal_number integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    exhibition_id bigint NOT NULL,
    guard_id bigint NOT NULL,
    CONSTRAINT api_guardexhibitionpreference_ordinal_number_check CHECK ((ordinal_number >= 0))
);


ALTER TABLE public.api_guardexhibitionpreference OWNER TO martin;

--
-- Name: api_guardexhibitionpreference_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.api_guardexhibitionpreference ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_guardexhibitionpreference_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_guardpositionpreference; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.api_guardpositionpreference (
    id bigint NOT NULL,
    ordinal_number integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    guard_id bigint NOT NULL,
    position_id bigint NOT NULL,
    CONSTRAINT api_guardpositionpreference_ordinal_number_check CHECK ((ordinal_number >= 0))
);


ALTER TABLE public.api_guardpositionpreference OWNER TO martin;

--
-- Name: api_guardpositionpreference_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.api_guardpositionpreference ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_guardpositionpreference_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_point; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.api_point (
    id bigint NOT NULL,
    points numeric(5,2) NOT NULL,
    date_awarded timestamp with time zone NOT NULL,
    explanation text NOT NULL,
    guard_id bigint NOT NULL
);


ALTER TABLE public.api_point OWNER TO martin;

--
-- Name: api_point_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.api_point ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_point_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_position; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.api_position (
    id bigint NOT NULL,
    date date NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    exhibition_id bigint NOT NULL
);


ALTER TABLE public.api_position OWNER TO martin;

--
-- Name: api_position_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.api_position ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_position_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_positionhistory; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.api_positionhistory (
    id bigint NOT NULL,
    action character varying(25) NOT NULL,
    action_time timestamp with time zone NOT NULL,
    guard_id bigint NOT NULL,
    position_id bigint NOT NULL
);


ALTER TABLE public.api_positionhistory OWNER TO martin;

--
-- Name: api_positionhistory_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.api_positionhistory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_positionhistory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_report; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.api_report (
    id bigint NOT NULL,
    position_explanation text,
    report_text text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    guard_id bigint NOT NULL,
    position_id bigint NOT NULL
);


ALTER TABLE public.api_report OWNER TO martin;

--
-- Name: api_report_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.api_report ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_report_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_systemsettings; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.api_systemsettings (
    id bigint NOT NULL,
    day_for_assignments integer NOT NULL,
    time_of_assignments time without time zone NOT NULL,
    minimal_number_of_positions_in_week integer NOT NULL,
    points_life_weeks integer NOT NULL,
    award_for_cancelled_position_jumping_in_before_position_day numeric(5,2) CONSTRAINT api_systemsettings_award_for_cancelled_position_jumpin_not_null NOT NULL,
    award_for_cancelled_position_jumping_in_on_position_day numeric(5,2) CONSTRAINT api_systemsettings_award_for_cancelled_position_jumpi_not_null1 NOT NULL,
    award_for_position_completion numeric(5,2) NOT NULL,
    award_for_sunday_position_done numeric(5,2) NOT NULL,
    day_for_start_of_configuration integer NOT NULL,
    penalty_for_assigning_less_then_minimal_positions numeric(5,2) CONSTRAINT api_systemsettings_penalty_for_assigning_less_then_min_not_null NOT NULL,
    penalty_for_being_late_with_notification numeric(5,2) CONSTRAINT api_systemsettings_penalty_for_being_late_with_notific_not_null NOT NULL,
    penalty_for_being_late_without_notification numeric(5,2) CONSTRAINT api_systemsettings_penalty_for_being_late_without_noti_not_null NOT NULL,
    penalty_for_position_cancellation_before_the_position_day numeric(5,2) CONSTRAINT api_systemsettings_penalty_for_position_cancellation_b_not_null NOT NULL,
    penalty_for_position_cancellation_on_the_position_day numeric(5,2) CONSTRAINT api_systemsettings_penalty_for_position_cancellation_o_not_null NOT NULL,
    time_of_start_of_configuration time without time zone NOT NULL
);


ALTER TABLE public.api_systemsettings OWNER TO martin;

--
-- Name: api_systemsettings_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.api_systemsettings ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_systemsettings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_user; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.api_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    role character varying(20) NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.api_user OWNER TO martin;

--
-- Name: api_user_groups; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.api_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.api_user_groups OWNER TO martin;

--
-- Name: api_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.api_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_user_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.api_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_user_user_permissions; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.api_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.api_user_user_permissions OWNER TO martin;

--
-- Name: api_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.api_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO martin;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO martin;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO martin;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO martin;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO martin;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO martin;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: martin
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: martin
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO martin;

--
-- Data for Name: api_adminnotification; Type: TABLE DATA; Schema: public; Owner: martin
--

COPY public.api_adminnotification (id, message, created_at, updated_at, user_id, exhibition_id) FROM stdin;
1	sdfs	2025-11-26 23:30:59.790664+01	2025-11-26 23:30:59.790664+01	2	1
\.


--
-- Data for Name: api_exhibition; Type: TABLE DATA; Schema: public; Owner: martin
--

COPY public.api_exhibition (id, name, number_of_positions, start_date, end_date, rules, created_at, updated_at) FROM stdin;
1	er	3	2025-11-01 23:30:04+01	2025-11-28 23:30:11+01	rule one there are no rules	2025-11-26 23:30:35.158271+01	2025-11-26 23:30:35.158271+01
\.


--
-- Data for Name: api_guard; Type: TABLE DATA; Schema: public; Owner: martin
--

COPY public.api_guard (id, priority_number, availability, user_id) FROM stdin;
3	2.00	2	5
4	\N	\N	6
\.


--
-- Data for Name: api_guardavailablepositions; Type: TABLE DATA; Schema: public; Owner: martin
--

COPY public.api_guardavailablepositions (id, score, created_at, updated_at, guard_id, position_id) FROM stdin;
\.


--
-- Data for Name: api_guardexhibitionpreference; Type: TABLE DATA; Schema: public; Owner: martin
--

COPY public.api_guardexhibitionpreference (id, ordinal_number, created_at, exhibition_id, guard_id) FROM stdin;
\.


--
-- Data for Name: api_guardpositionpreference; Type: TABLE DATA; Schema: public; Owner: martin
--

COPY public.api_guardpositionpreference (id, ordinal_number, created_at, guard_id, position_id) FROM stdin;
\.


--
-- Data for Name: api_point; Type: TABLE DATA; Schema: public; Owner: martin
--

COPY public.api_point (id, points, date_awarded, explanation, guard_id) FROM stdin;
\.


--
-- Data for Name: api_position; Type: TABLE DATA; Schema: public; Owner: martin
--

COPY public.api_position (id, date, start_time, end_time, created_at, updated_at, exhibition_id) FROM stdin;
\.


--
-- Data for Name: api_positionhistory; Type: TABLE DATA; Schema: public; Owner: martin
--

COPY public.api_positionhistory (id, action, action_time, guard_id, position_id) FROM stdin;
\.


--
-- Data for Name: api_report; Type: TABLE DATA; Schema: public; Owner: martin
--

COPY public.api_report (id, position_explanation, report_text, created_at, guard_id, position_id) FROM stdin;
\.


--
-- Data for Name: api_systemsettings; Type: TABLE DATA; Schema: public; Owner: martin
--



--
-- Data for Name: api_user; Type: TABLE DATA; Schema: public; Owner: martin
--



--
-- Data for Name: api_user_groups; Type: TABLE DATA; Schema: public; Owner: martin
--

COPY public.api_user_groups (id, user_id, group_id) FROM stdin;
1	4	1
\.


--
-- Data for Name: api_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: martin
--

COPY public.api_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: martin
--

COPY public.auth_group (id, name) FROM stdin;
1	Museum Admin
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: martin
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
1	1	21
2	1	22
3	1	24
4	1	25
5	1	26
6	1	28
7	1	29
8	1	30
9	1	32
10	1	33
11	1	34
12	1	36
13	1	37
14	1	38
15	1	40
16	1	41
17	1	42
18	1	44
19	1	45
20	1	46
21	1	48
22	1	49
23	1	50
24	1	52
25	1	53
26	1	54
27	1	56
28	1	57
29	1	58
30	1	60
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: martin
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: martin
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: martin
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	api	user
7	api	adminnotification
8	api	exhibition
9	api	guard
10	api	point
11	api	position
12	api	guardavailablepositions
13	api	positionhistory
14	api	report
15	api	systemsettings
16	api	guardexhibitionpreference
17	api	guardpositionpreference
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: martin
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: martin
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
bzdi84cuuxsitez77ki8i5luqje7nri6	.eJxVjDsOwjAQBe_iGln-bbyhpOcM1tpr4wBypDipEHeHSCmgfTPzXiLQttaw9byEicVZaHH63SKlR2474Du12yzT3NZlinJX5EG7vM6cn5fD_Tuo1Ou3dtFpVhlJIZOzMEZnvPelDGbAlBE86WQB2JE1I7NjgmKxGA0Kc9Ti_QHYsTel:1vQAIr:pCl605nFnDfzs9lf7gJl-P4DNdAc2DNpKyFB39chI80	2025-12-15 21:15:21.520121+01
\.


--
-- Name: api_adminnotification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.api_adminnotification_id_seq', 1, true);


--
-- Name: api_exhibition_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.api_exhibition_id_seq', 1, true);


--
-- Name: api_guard_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.api_guard_id_seq', 4, true);


--
-- Name: api_guardavailablepositions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.api_guardavailablepositions_id_seq', 1, false);


--
-- Name: api_guardexhibitionpreference_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.api_guardexhibitionpreference_id_seq', 1, false);


--
-- Name: api_guardpositionpreference_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.api_guardpositionpreference_id_seq', 1, false);


--
-- Name: api_point_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.api_point_id_seq', 1, false);


--
-- Name: api_position_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.api_position_id_seq', 1, false);


--
-- Name: api_positionhistory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.api_positionhistory_id_seq', 1, false);


--
-- Name: api_report_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.api_report_id_seq', 1, false);


--
-- Name: api_systemsettings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.api_systemsettings_id_seq', 1, false);


--
-- Name: api_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.api_user_groups_id_seq', 1, true);


--
-- Name: api_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.api_user_id_seq', 6, true);


--
-- Name: api_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.api_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, true);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 30, true);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 68, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 12, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 17, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: martin
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 24, true);


--
-- Name: api_adminnotification api_adminnotification_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_adminnotification
    ADD CONSTRAINT api_adminnotification_pkey PRIMARY KEY (id);


--
-- Name: api_exhibition api_exhibition_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_exhibition
    ADD CONSTRAINT api_exhibition_pkey PRIMARY KEY (id);


--
-- Name: api_guard api_guard_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_guard
    ADD CONSTRAINT api_guard_pkey PRIMARY KEY (id);


--
-- Name: api_guard api_guard_user_id_key; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_guard
    ADD CONSTRAINT api_guard_user_id_key UNIQUE (user_id);


--
-- Name: api_guardavailablepositions api_guardavailablepositions_guard_id_position_id_deaffc66_uniq; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_guardavailablepositions
    ADD CONSTRAINT api_guardavailablepositions_guard_id_position_id_deaffc66_uniq UNIQUE (guard_id, position_id);


--
-- Name: api_guardavailablepositions api_guardavailablepositions_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_guardavailablepositions
    ADD CONSTRAINT api_guardavailablepositions_pkey PRIMARY KEY (id);


--
-- Name: api_guardexhibitionpreference api_guardexhibitionprefe_guard_id_exhibition_id_c19116e2_uniq; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_guardexhibitionpreference
    ADD CONSTRAINT api_guardexhibitionprefe_guard_id_exhibition_id_c19116e2_uniq UNIQUE (guard_id, exhibition_id);


--
-- Name: api_guardexhibitionpreference api_guardexhibitionpreference_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_guardexhibitionpreference
    ADD CONSTRAINT api_guardexhibitionpreference_pkey PRIMARY KEY (id);


--
-- Name: api_guardpositionpreference api_guardpositionpreference_guard_id_position_id_12b64e03_uniq; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_guardpositionpreference
    ADD CONSTRAINT api_guardpositionpreference_guard_id_position_id_12b64e03_uniq UNIQUE (guard_id, position_id);


--
-- Name: api_guardpositionpreference api_guardpositionpreference_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_guardpositionpreference
    ADD CONSTRAINT api_guardpositionpreference_pkey PRIMARY KEY (id);


--
-- Name: api_point api_point_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_point
    ADD CONSTRAINT api_point_pkey PRIMARY KEY (id);


--
-- Name: api_position api_position_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_position
    ADD CONSTRAINT api_position_pkey PRIMARY KEY (id);


--
-- Name: api_positionhistory api_positionhistory_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_positionhistory
    ADD CONSTRAINT api_positionhistory_pkey PRIMARY KEY (id);


--
-- Name: api_report api_report_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_report
    ADD CONSTRAINT api_report_pkey PRIMARY KEY (id);


--
-- Name: api_systemsettings api_systemsettings_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_systemsettings
    ADD CONSTRAINT api_systemsettings_pkey PRIMARY KEY (id);


--
-- Name: api_user_groups api_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_user_groups
    ADD CONSTRAINT api_user_groups_pkey PRIMARY KEY (id);


--
-- Name: api_user_groups api_user_groups_user_id_group_id_9c7ddfb5_uniq; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_user_groups
    ADD CONSTRAINT api_user_groups_user_id_group_id_9c7ddfb5_uniq UNIQUE (user_id, group_id);


--
-- Name: api_user api_user_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_user
    ADD CONSTRAINT api_user_pkey PRIMARY KEY (id);


--
-- Name: api_user_user_permissions api_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_user_user_permissions
    ADD CONSTRAINT api_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: api_user_user_permissions api_user_user_permissions_user_id_permission_id_a06dd704_uniq; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_user_user_permissions
    ADD CONSTRAINT api_user_user_permissions_user_id_permission_id_a06dd704_uniq UNIQUE (user_id, permission_id);


--
-- Name: api_user api_user_username_key; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_user
    ADD CONSTRAINT api_user_username_key UNIQUE (username);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: api_adminnotification_exhibition_id_e35ee7b1; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_adminnotification_exhibition_id_e35ee7b1 ON public.api_adminnotification USING btree (exhibition_id);


--
-- Name: api_adminnotification_user_id_4f7d8f4a; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_adminnotification_user_id_4f7d8f4a ON public.api_adminnotification USING btree (user_id);


--
-- Name: api_exhibit_name_f6e11c_idx; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_exhibit_name_f6e11c_idx ON public.api_exhibition USING btree (name);


--
-- Name: api_exhibit_start_d_7c6cb2_idx; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_exhibit_start_d_7c6cb2_idx ON public.api_exhibition USING btree (start_date DESC);


--
-- Name: api_guardavailablepositions_guard_id_28efb090; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_guardavailablepositions_guard_id_28efb090 ON public.api_guardavailablepositions USING btree (guard_id);


--
-- Name: api_guardavailablepositions_position_id_f4852ee0; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_guardavailablepositions_position_id_f4852ee0 ON public.api_guardavailablepositions USING btree (position_id);


--
-- Name: api_guardex_created_e7b242_idx; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_guardex_created_e7b242_idx ON public.api_guardexhibitionpreference USING btree (created_at);


--
-- Name: api_guardex_guard_i_ac6ad7_idx; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_guardex_guard_i_ac6ad7_idx ON public.api_guardexhibitionpreference USING btree (guard_id, ordinal_number);


--
-- Name: api_guardexhibitionpreference_exhibition_id_72c63030; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_guardexhibitionpreference_exhibition_id_72c63030 ON public.api_guardexhibitionpreference USING btree (exhibition_id);


--
-- Name: api_guardexhibitionpreference_guard_id_a47260ea; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_guardexhibitionpreference_guard_id_a47260ea ON public.api_guardexhibitionpreference USING btree (guard_id);


--
-- Name: api_guardpo_created_e4758f_idx; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_guardpo_created_e4758f_idx ON public.api_guardpositionpreference USING btree (created_at);


--
-- Name: api_guardpo_guard_i_f1edfb_idx; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_guardpo_guard_i_f1edfb_idx ON public.api_guardpositionpreference USING btree (guard_id, ordinal_number);


--
-- Name: api_guardpositionpreference_guard_id_6c3e1071; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_guardpositionpreference_guard_id_6c3e1071 ON public.api_guardpositionpreference USING btree (guard_id);


--
-- Name: api_guardpositionpreference_position_id_0e432e3b; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_guardpositionpreference_position_id_0e432e3b ON public.api_guardpositionpreference USING btree (position_id);


--
-- Name: api_point_date_aw_6d843f_idx; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_point_date_aw_6d843f_idx ON public.api_point USING btree (date_awarded);


--
-- Name: api_point_guard_i_db1183_idx; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_point_guard_i_db1183_idx ON public.api_point USING btree (guard_id, date_awarded);


--
-- Name: api_point_guard_id_8e25bec3; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_point_guard_id_8e25bec3 ON public.api_point USING btree (guard_id);


--
-- Name: api_positio_action_e311c8_idx; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_positio_action_e311c8_idx ON public.api_positionhistory USING btree (action);


--
-- Name: api_positio_date_5e6adc_idx; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_positio_date_5e6adc_idx ON public.api_position USING btree (date);


--
-- Name: api_positio_date_f02971_idx; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_positio_date_f02971_idx ON public.api_position USING btree (date, start_time);


--
-- Name: api_positio_exhibit_9312dc_idx; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_positio_exhibit_9312dc_idx ON public.api_position USING btree (exhibition_id, date);


--
-- Name: api_positio_guard_i_8f09c5_idx; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_positio_guard_i_8f09c5_idx ON public.api_positionhistory USING btree (guard_id, action_time);


--
-- Name: api_positio_positio_d369b0_idx; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_positio_positio_d369b0_idx ON public.api_positionhistory USING btree (position_id, action_time);


--
-- Name: api_position_exhibition_id_eabc1ae3; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_position_exhibition_id_eabc1ae3 ON public.api_position USING btree (exhibition_id);


--
-- Name: api_positionhistory_guard_id_81131bf3; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_positionhistory_guard_id_81131bf3 ON public.api_positionhistory USING btree (guard_id);


--
-- Name: api_positionhistory_position_id_46b4fde7; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_positionhistory_position_id_46b4fde7 ON public.api_positionhistory USING btree (position_id);


--
-- Name: api_report_created_a754a8_idx; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_report_created_a754a8_idx ON public.api_report USING btree (created_at);


--
-- Name: api_report_guard_i_6b8ec1_idx; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_report_guard_i_6b8ec1_idx ON public.api_report USING btree (guard_id, created_at);


--
-- Name: api_report_guard_id_eea3bcb5; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_report_guard_id_eea3bcb5 ON public.api_report USING btree (guard_id);


--
-- Name: api_report_positio_241765_idx; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_report_positio_241765_idx ON public.api_report USING btree (position_id, created_at);


--
-- Name: api_report_position_id_6f7366fa; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_report_position_id_6f7366fa ON public.api_report USING btree (position_id);


--
-- Name: api_user_groups_group_id_3af85785; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_user_groups_group_id_3af85785 ON public.api_user_groups USING btree (group_id);


--
-- Name: api_user_groups_user_id_a5ff39fa; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_user_groups_user_id_a5ff39fa ON public.api_user_groups USING btree (user_id);


--
-- Name: api_user_user_permissions_permission_id_305b7fea; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_user_user_permissions_permission_id_305b7fea ON public.api_user_user_permissions USING btree (permission_id);


--
-- Name: api_user_user_permissions_user_id_f3945d65; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_user_user_permissions_user_id_f3945d65 ON public.api_user_user_permissions USING btree (user_id);


--
-- Name: api_user_username_cf4e88d2_like; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX api_user_username_cf4e88d2_like ON public.api_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: martin
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: api_adminnotification api_adminnotificatio_exhibition_id_e35ee7b1_fk_api_exhib; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_adminnotification
    ADD CONSTRAINT api_adminnotificatio_exhibition_id_e35ee7b1_fk_api_exhib FOREIGN KEY (exhibition_id) REFERENCES public.api_exhibition(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_adminnotification api_adminnotification_user_id_4f7d8f4a_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_adminnotification
    ADD CONSTRAINT api_adminnotification_user_id_4f7d8f4a_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_guard api_guard_user_id_c7f69e4e_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_guard
    ADD CONSTRAINT api_guard_user_id_c7f69e4e_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_guardavailablepositions api_guardavailablepo_position_id_f4852ee0_fk_api_posit; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_guardavailablepositions
    ADD CONSTRAINT api_guardavailablepo_position_id_f4852ee0_fk_api_posit FOREIGN KEY (position_id) REFERENCES public.api_position(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_guardavailablepositions api_guardavailablepositions_guard_id_28efb090_fk_api_guard_id; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_guardavailablepositions
    ADD CONSTRAINT api_guardavailablepositions_guard_id_28efb090_fk_api_guard_id FOREIGN KEY (guard_id) REFERENCES public.api_guard(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_guardexhibitionpreference api_guardexhibitionp_exhibition_id_72c63030_fk_api_exhib; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_guardexhibitionpreference
    ADD CONSTRAINT api_guardexhibitionp_exhibition_id_72c63030_fk_api_exhib FOREIGN KEY (exhibition_id) REFERENCES public.api_exhibition(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_guardexhibitionpreference api_guardexhibitionpreference_guard_id_a47260ea_fk_api_guard_id; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_guardexhibitionpreference
    ADD CONSTRAINT api_guardexhibitionpreference_guard_id_a47260ea_fk_api_guard_id FOREIGN KEY (guard_id) REFERENCES public.api_guard(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_guardpositionpreference api_guardpositionpre_position_id_0e432e3b_fk_api_posit; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_guardpositionpreference
    ADD CONSTRAINT api_guardpositionpre_position_id_0e432e3b_fk_api_posit FOREIGN KEY (position_id) REFERENCES public.api_position(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_guardpositionpreference api_guardpositionpreference_guard_id_6c3e1071_fk_api_guard_id; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_guardpositionpreference
    ADD CONSTRAINT api_guardpositionpreference_guard_id_6c3e1071_fk_api_guard_id FOREIGN KEY (guard_id) REFERENCES public.api_guard(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_point api_point_guard_id_8e25bec3_fk_api_guard_id; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_point
    ADD CONSTRAINT api_point_guard_id_8e25bec3_fk_api_guard_id FOREIGN KEY (guard_id) REFERENCES public.api_guard(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_position api_position_exhibition_id_eabc1ae3_fk_api_exhibition_id; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_position
    ADD CONSTRAINT api_position_exhibition_id_eabc1ae3_fk_api_exhibition_id FOREIGN KEY (exhibition_id) REFERENCES public.api_exhibition(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_positionhistory api_positionhistory_guard_id_81131bf3_fk_api_guard_id; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_positionhistory
    ADD CONSTRAINT api_positionhistory_guard_id_81131bf3_fk_api_guard_id FOREIGN KEY (guard_id) REFERENCES public.api_guard(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_positionhistory api_positionhistory_position_id_46b4fde7_fk_api_position_id; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_positionhistory
    ADD CONSTRAINT api_positionhistory_position_id_46b4fde7_fk_api_position_id FOREIGN KEY (position_id) REFERENCES public.api_position(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_report api_report_guard_id_eea3bcb5_fk_api_guard_id; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_report
    ADD CONSTRAINT api_report_guard_id_eea3bcb5_fk_api_guard_id FOREIGN KEY (guard_id) REFERENCES public.api_guard(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_report api_report_position_id_6f7366fa_fk_api_position_id; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_report
    ADD CONSTRAINT api_report_position_id_6f7366fa_fk_api_position_id FOREIGN KEY (position_id) REFERENCES public.api_position(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_groups api_user_groups_group_id_3af85785_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_user_groups
    ADD CONSTRAINT api_user_groups_group_id_3af85785_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_groups api_user_groups_user_id_a5ff39fa_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_user_groups
    ADD CONSTRAINT api_user_groups_user_id_a5ff39fa_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_user_permissions api_user_user_permis_permission_id_305b7fea_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_user_user_permissions
    ADD CONSTRAINT api_user_user_permis_permission_id_305b7fea_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_user_permissions api_user_user_permissions_user_id_f3945d65_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.api_user_user_permissions
    ADD CONSTRAINT api_user_user_permissions_user_id_f3945d65_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: martin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict wy1XXz9ZDHrJBdEmdvbjWqxic9drbV8SrvIL8p6K31QCAQmAdgfUnsqD5kuO5rh

